{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Contact{% endblock %}
{% block page_title %}Envoyez un message{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">

            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group"><input type="submit" class="btn btn-primary" value="Envoyer" /></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}