{% extends 'base.html' %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}Accueil {% endblock %}
{% block page_title %}Liste des questions{% if search %} contenant le terme « {{ search }} »{% endif %}{% endblock %}

{% block content %}
{% for q in question_list %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ q }}</h3>
        </div>
        <div class="panel-body">
            <p>{{ q.text }}</p>
            {% if q.image %}
            <p class="center"><img src="{{ q.image.url }}" alt="Illustration" /></p>
            {% endif %}
            <p><em>Posté <span title="{{ q.publish_date | date:'l d F Y à H:i:s' }}">{{ q.publish_date | naturaltime }}</span></em></p>
            <div class="well well-sm">
                <p><em>{{ q.answer.author }} a répondu <span title="{{ q.answer.publish_date | date:'l d F Y à H:i:s' }}">{{ q.answer.publish_date | naturaltime }}</span>.</em></p>
                <p>{{ q.answer.text }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="row text-center">
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Posez votre question</h3>
            </div>
            <div class="panel-body">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group"><input type="submit" class="btn btn-primary" value="Soumettre" /></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}